<h1>Eat Da Burger</h1>
	<div class="row">
        <div class="column">
            <h3>Sushi Burger<button>Eat It!</button></h3>
            <button>Eat It!</button>
            <h3>Ramen Burger</h3>
            <button>Eat It!</button>
        </div>
        <div class="column">
            <h3>Guacamole Burger</h3>
        </div>
    </div>
    <form >
        What would you like to eat?<br>
        <input type="text" name="burger">
        <br>
        <input type="submit" value="Submit">
    </form>

<script></script>